#body{
    background-color:black;
    color:white;
    border: 1px solid white;
    margin: auto;
}

button{
    display: block;
    margin: auto;
    padding: 10px;
}

p, h1, #scores, #text{
    padding:10px;
}


