#body{
    background-color:black;
    color:white;
    width: 500px;
    height: 500px;
    border: 1px solid white;
    margin: auto;
}

button{
    display: block;
    margin: auto;
    padding: 10px;
}

p, h1, #scores{
    padding:10px;
}
